/* Geral
---------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.container-full {
    width: 100%;
    min-width: 320px;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.bg-verde {
    background-color: #17882C;
}

.underline:hover:before {
    width: 100%;
}

.underline:before {
    content: '';
    width: 0%;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1.5px;
    background-color: white;
    transition: ease 0.4s;
}

.space-80 {
    height: 80px;
    width: 100%;
}

.space-60 {
    height: 60px;
    width: 100%;
}

.space-40 {
    height: 40px;
    width: 100%;
}

.space-20 {
    height: 20px;
    width: 100%;
}

/* Header
---------------------------------*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 90px;
    width: fit-content;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-nav-list {
    display: flex;
    gap: 20px;
}


.header-nav-list li {
    list-style-type: none;
}

.header-nav-list a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 16px;
}

.header-abrir {
    display: none;
}

.header-mobile {
    position: fixed;
    z-index: 99999;
    background-color: #17882C;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s;
}

.menu-active {
    transform: translateX(0%);
}
/* Banner
---------------------------------*/

.banner-container-full {
    background-image: url("img/banner-napne.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 160px 0;
    position: relative;
    z-index: 1;
}

.banner-container-full:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: -1;
}

.banner-titulo {
    font-size: 72px;
    font-weight: 400;
}

.banner-texto {
    font-size: 24px;
    font-weight: 200;
}


/* Navegacao / Menu
---------------------------------*/ 

.navegacao {
    background-color: #17882C;
    width: 40%;
    padding: 40px;
    color: white;
    border-radius: 10px;
}

.navegacao-list {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navegacao-list a {
    text-decoration: none;
    color: white;
    position:relative;
    margin-left: 0px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 200;
}

.navegacao-list a:hover {
    margin-left: 5px;
    font-weight: 600;
}

.navegacao-title {
    font-size: 22px;
    font-weight: 400;
    position: relative;
}

.navegacao-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: white;
    
}

/* Finalidade
---------------------------------*/ 

.finalidade {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.finalidade-container {
    display: flex;
}

.finalidade-titulo {
    font-size: 30px;
}

.finalidade-texto {
    font-size: 16px;
}

/* Objetivos
---------------------------------*/ 

/* Atendidos
---------------------------------*/

/* Ancora
---------------------------------*/

/* Perguntas
---------------------------------*/

/* Footer
---------------------------------*/

/* Responsividade
---------------------------------*/


/* Responsividade
---------------------------------*/

@media (max-width:1220px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width:920px) {
    .container {
        max-width: 900px;
    }

    .header-nav {
        display: none;
    }

    .header-abrir {
        display: block;
    }
}

@media (max-width:720px) {
    .container {
        max-width: 500px;
    }
}

@media (max-width:520px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width:420px) {
    .container {
        max-width: 300px;
    }
}